In [1]:
import pandas as pd

In [2]:
path_lit = "C:/Users/Idriss K/Desktop/DataViz/data/POPMER/reefdb-extraction-complet-POPMER_LIT-2023-10-20-081836.csv"
data_lit = pd.read_csv(path_lit, sep=";")

C:\Users\Idriss K\AppData\Local\Temp\ipykernel_22168\563788912.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data_lit = pd.read_csv(path_lit, sep=";")

In [3]:
data_lit.head()

,Programme,Station,Date,REPLICAT_Numero,Taxon,Groupe_taxons,MESURE_Numero_individu,REPLICAT_Transition_Protocole_LIT-Centimetre,REPLICAT_Section_Protocole_LIT-Centimetre,REPLICAT_Substrat_Protocole_LIT,...,REPLICAT_Date_controle,REPLICAT_Date_validation,REPLICAT_Niveau_qualite,REPLICAT_Date_qualification,REPLICAT_Commentaire_qualification,REPLICAT_Coordonnees_MINX,REPLICAT_Coordonnees_MAXX,REPLICAT_Coordonnees_MINY,REPLICAT_Coordonnees_MAXY,Moratoire
0,POPMER_LAREUNION_LIT_BENTHOS,L'Ermitage_GH09,31/12/2008,1,NaN,NaN,1,150,150,Débris,...,07/02/2019,07/02/2019,Non qualifié,NaN,NaN,"55,22161","55,22161","-21,08205","-21,08205",Non
1,POPMER_LAREUNION_LIT_BENTHOS,L'Ermitage_GH09,31/12/2008,1,NaN,Acropore digité,2,170,20,Substrat dur colonisé,...,07/02/2019,07/02/2019,Non qualifié,NaN,NaN,"55,22161","55,22161","-21,08205","-21,08205",Non
2,POPMER_LAREUNION_LIT_BENTHOS,L'Ermitage_GH09,31/12/2008,1,NaN,Non-Acropore encroutant,3,200,30,Substrat dur colonisé,...,07/02/2019,07/02/2019,Non qualifié,NaN,NaN,"55,22161","55,22161","-21,08205","-21,08205",Non
3,POPMER_LAREUNION_LIT_BENTHOS,L'Ermitage_GH09,31/12/2008,1,NaN,NaN,4,260,60,Débris,...,07/02/2019,07/02/2019,Non qualifié,NaN,NaN,"55,22161","55,22161","-21,08205","-21,08205",Non
4,POPMER_LAREUNION_LIT_BENTHOS,L'Ermitage_GH09,31/12/2008,1,NaN,Acropore branchu,5,300,40,Substrat dur colonisé,...,07/02/2019,07/02/2019,Non qualifié,NaN,NaN,"55,22161","55,22161","-21,08205","-21,08205",Non

In [4]:
print(len(list(data_lit.columns)))
print(list(data_lit.columns))

79
['Programme', 'Station', 'Date', 'REPLICAT_Numero', 'Taxon', 'Groupe_taxons', 'MESURE_Numero_individu', 'REPLICAT_Transition_Protocole_LIT-Centimetre', 'REPLICAT_Section_Protocole_LIT-Centimetre', 'REPLICAT_Substrat_Protocole_LIT', 'REPLICAT_Blanchissement_des_recifs_evaluation_visuelle_-_Protocole_LIT', 'REPLICAT_Longueur_transect_metre_ruban-Metre', 'REPLICAT_Origine_du_replicat_Protocole_LIT_-_recifs-Centimetre', 'OBSERVATION_Profondeur-Metre', 'OBSERVATION_Pluies_<24h', 'OBSERVATION_Ensoleillement', 'OBSERVATION_Vent', 'OBSERVATION_Etat_de_la_mer', 'OBSERVATION_Courant', 'OBSERVATION_Maree', 'OBSERVATION_Visibilite', 'MESURE_Organisme_analyste', 'OBSERVATION_Campagne', 'OBSERVATION_Campagne_commentaires', 'STATION_Identifiant', 'STATION_Mnemonique', 'STATION_Entite_classement', 'OBSERVATION_Coordonnees_MINX', 'OBSERVATION_Coordonnees_MAXX', 'OBSERVATION_Coordonnees_MINY', 'OBSERVATION_Coordonnees_MAXY', 'REPLICAT_Moyen_acquisition', 'REPLICAT_Organisme_observateur', 'OBSERVATION_Observateurs', 'OBSERVATION_Mnemonique', 'REPLICAT_Taille', 'REPLICAT_Unite', 'MESURE_Commentaires', 'Taxon_saisi', 'MESURE_Niveau_qualite', 'MESURE_Date_Qualif', 'MESURE_Commentaire_Qualif', 'MESURE_Identifiant_interne_TAXON_NAME_ID', 'MESURE_Identifiants_interne_MEAS_ID', 'MESURE_Identifiants_interne_TAXON_MEAS_ID', 'STATION_Entite_classement_Type', 'STATION_Entite_classement_Identifiant', 'STATION_Entite_classement_Rang_lieu', 'OBSERVATION_Heure', 'OBSERVATION_Commentaire', 'OBSERVATION_Date_controle', 'OBSERVATION_Date_validation', 'OBSERVATION_Niveau_qualite', 'OBSERVATION_Date_qualification', 'OBSERVATION_Commentaire_qualification', 'OBSERVATION_Geometrie_heritee', 'OBSERVATION_Profondeur_precise', 'OBSERVATION_Profondeur_precise_Symbole_unite', 'REPLICAT_Heure', 'REPLICAT_Profondeur_precise', 'REPLICAT_Profondeur_precise_Min', 'REPLICAT_Profondeur_precise_Max', 'REPLICAT_Geometrie_heritee', 'REPLICAT_Profondeur_precise_Symbole_unite', 'REPLICAT_Profondeur_precise_Unite', 'REPLICAT_Commentaire', 'REPLICAT_Moyen_acquisition_Taille', 'REPLICAT_Moyen_acquisition_Taille_Symbole_unite', 'REPLICAT_Nombre_individu', 'REPLICAT_Date_controle', 'REPLICAT_Date_validation', 'REPLICAT_Niveau_qualite', 'REPLICAT_Date_qualification', 'REPLICAT_Commentaire_qualification', 'REPLICAT_Coordonnees_MINX', 'REPLICAT_Coordonnees_MAXX', 'REPLICAT_Coordonnees_MINY', 'REPLICAT_Coordonnees_MAXY', 'Moratoire']

In [5]:
keep_columns = ["Station","Date","Taxon", "Groupe_taxons", "MESURE_Numero_individu", 
                "REPLICAT_Longueur_transect_metre_ruban-Metre",
                "STATION_Identifiant","OBSERVATION_Coordonnees_MINX","OBSERVATION_Coordonnees_MINY", 
                "OBSERVATION_Coordonnees_MAXX", "OBSERVATION_Coordonnees_MAXY",
                "REPLICAT_Substrat_Protocole_LIT"]
cleaned_data = data_lit[keep_columns]

In [6]:
cleaned_data.head()

,Station,Date,Taxon,Groupe_taxons,MESURE_Numero_individu,REPLICAT_Longueur_transect_metre_ruban-Metre,STATION_Identifiant,OBSERVATION_Coordonnees_MINX,OBSERVATION_Coordonnees_MINY,OBSERVATION_Coordonnees_MAXX,OBSERVATION_Coordonnees_MAXY,REPLICAT_Substrat_Protocole_LIT
0,L'Ermitage_GH09,31/12/2008,NaN,NaN,1,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Débris
1,L'Ermitage_GH09,31/12/2008,NaN,Acropore digité,2,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Substrat dur colonisé
2,L'Ermitage_GH09,31/12/2008,NaN,Non-Acropore encroutant,3,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Substrat dur colonisé
3,L'Ermitage_GH09,31/12/2008,NaN,NaN,4,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Débris
4,L'Ermitage_GH09,31/12/2008,NaN,Acropore branchu,5,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Substrat dur colonisé

In [7]:
cleaned_data.shape

(31769, 12)

# Flag

In [8]:
cleaned_data["Flag"] = "substrat"

C:\Users\Idriss K\AppData\Local\Temp\ipykernel_22168\1378411534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data["Flag"] = "substrat"

In [9]:
cleaned_data.head()

,Station,Date,Taxon,Groupe_taxons,MESURE_Numero_individu,REPLICAT_Longueur_transect_metre_ruban-Metre,STATION_Identifiant,OBSERVATION_Coordonnees_MINX,OBSERVATION_Coordonnees_MINY,OBSERVATION_Coordonnees_MAXX,OBSERVATION_Coordonnees_MAXY,REPLICAT_Substrat_Protocole_LIT,Flag
0,L'Ermitage_GH09,31/12/2008,NaN,NaN,1,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Débris,substrat
1,L'Ermitage_GH09,31/12/2008,NaN,Acropore digité,2,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Substrat dur colonisé,substrat
2,L'Ermitage_GH09,31/12/2008,NaN,Non-Acropore encroutant,3,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Substrat dur colonisé,substrat
3,L'Ermitage_GH09,31/12/2008,NaN,NaN,4,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Débris,substrat
4,L'Ermitage_GH09,31/12/2008,NaN,Acropore branchu,5,2000,60010458,"55,22161","-21,08205","55,22161","-21,08205",Substrat dur colonisé,substrat

In [10]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31769 entries, 0 to 31768
Data columns (total 13 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Station                                       31769 non-null  object
 1   Date                                          31769 non-null  object
 2   Taxon                                         0 non-null      float64
 3   Groupe_taxons                                 25870 non-null  object
 4   MESURE_Numero_individu                        31769 non-null  int64
 5   REPLICAT_Longueur_transect_metre_ruban-Metre  31769 non-null  object
 6   STATION_Identifiant                           31769 non-null  int64
 7   OBSERVATION_Coordonnees_MINX                  31769 non-null  object
 8   OBSERVATION_Coordonnees_MINY                  31769 non-null  object
 9   OBSERVATION_Coordonnees_MAXX                  31769 non-null  object
 10  OBSERVATION_Coordonnees_MAXY                  31769 non-null  object
 11  REPLICAT_Substrat_Protocole_LIT               26416 non-null  object
 12  Flag                                          31769 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 3.2+ MB

In [11]:
unique_station = cleaned_data["STATION_Identifiant"].unique()

In [12]:
print(len(unique_station))
print(unique_station)

90
[60010458 60010459 60010460 60010461 60010462 60010463 60010464 60010465
 60010466 60010469 60010470 60010471 60010472 60010473 60010474 60010475
 60010476 60010477 60010478 60010479 60010530 60010531 60010532 60010533
 60010534 60010535 60010536 60010537 60010538 60010539 60010450 60010451
 60010452 60010453 60010454 60010455 60010456 60010457 60010480 60010481
 60010482 60010483 60010484 60010485 60010486 60010487 60010488 60010489
 60010467 60010468 60010490 60010491 60010492 60010493 60010494 60010495
 60010496 60010497 60010498 60010499 60010500 60010501 60010502 60010503
 60010504 60010505 60010506 60010507 60010508 60010509 60010510 60010511
 60010512 60010513 60010514 60010515 60010516 60010517 60010518 60010519
 60010520 60010521 60010522 60010523 60010524 60010525 60010526 60010527
 60010528 60010529]

In [13]:
cleaned_data.rename(columns={"REPLICAT_Longueur_transect_metre_ruban-Metre":"REPLICAT_Longueur_transect"}, inplace=True)

C:\Users\Idriss K\AppData\Local\Temp\ipykernel_22168\1400430952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data.rename(columns={"REPLICAT_Longueur_transect_metre_ruban-Metre":"REPLICAT_Longueur_transect"}, inplace=True)

In [14]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31769 entries, 0 to 31768
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Station                          31769 non-null  object
 1   Date                             31769 non-null  object
 2   Taxon                            0 non-null      float64
 3   Groupe_taxons                    25870 non-null  object
 4   MESURE_Numero_individu           31769 non-null  int64
 5   REPLICAT_Longueur_transect       31769 non-null  object
 6   STATION_Identifiant              31769 non-null  int64
 7   OBSERVATION_Coordonnees_MINX     31769 non-null  object
 8   OBSERVATION_Coordonnees_MINY     31769 non-null  object
 9   OBSERVATION_Coordonnees_MAXX     31769 non-null  object
 10  OBSERVATION_Coordonnees_MAXY     31769 non-null  object
 11  REPLICAT_Substrat_Protocole_LIT  26416 non-null  object
 12  Flag                             31769 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 3.2+ MB

In [15]:
col_rep = ["OBSERVATION_Coordonnees_MINX", "OBSERVATION_Coordonnees_MINY", 
           "OBSERVATION_Coordonnees_MAXX", "OBSERVATION_Coordonnees_MAXY"]
cleaned_data[col_rep] = cleaned_data[col_rep].replace(',', '.', regex=True)

C:\Users\Idriss K\AppData\Local\Temp\ipykernel_22168\2739511040.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data[col_rep] = cleaned_data[col_rep].replace(',', '.', regex=True)

In [16]:
date_format = pd.to_datetime(cleaned_data['Date'], format="%d/%m/%Y")
cleaned_data["Year"] = date_format.dt.year
cleaned_data["Date"] = date_format

C:\Users\Idriss K\AppData\Local\Temp\ipykernel_22168\49110650.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data["Year"] = date_format.dt.year
C:\Users\Idriss K\AppData\Local\Temp\ipykernel_22168\49110650.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data["Date"] = date_format

In [17]:
cleaned_data.to_csv("../data/lit_cleadedAndTransform.csv", sep=",",  index=False)

In [18]:
cleaned_data.head()

,Station,Date,Taxon,Groupe_taxons,MESURE_Numero_individu,REPLICAT_Longueur_transect,STATION_Identifiant,OBSERVATION_Coordonnees_MINX,OBSERVATION_Coordonnees_MINY,OBSERVATION_Coordonnees_MAXX,OBSERVATION_Coordonnees_MAXY,REPLICAT_Substrat_Protocole_LIT,Flag,Year
0,L'Ermitage_GH09,2008-12-31,NaN,NaN,1,2000,60010458,55.22161,-21.08205,55.22161,-21.08205,Débris,substrat,2008
1,L'Ermitage_GH09,2008-12-31,NaN,Acropore digité,2,2000,60010458,55.22161,-21.08205,55.22161,-21.08205,Substrat dur colonisé,substrat,2008
2,L'Ermitage_GH09,2008-12-31,NaN,Non-Acropore encroutant,3,2000,60010458,55.22161,-21.08205,55.22161,-21.08205,Substrat dur colonisé,substrat,2008
3,L'Ermitage_GH09,2008-12-31,NaN,NaN,4,2000,60010458,55.22161,-21.08205,55.22161,-21.08205,Débris,substrat,2008
4,L'Ermitage_GH09,2008-12-31,NaN,Acropore branchu,5,2000,60010458,55.22161,-21.08205,55.22161,-21.08205,Substrat dur colonisé,substrat,2008